
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<p><%=if message
	 " #{message}"
	end%>
    </p>
    <p>   
    	<%=
         if message  == "You got it right!"
    	"The SECRET NUMBER is #{number}"
         end 
        %>
    </p>
    <form>
    	<input type="text" name="guess">
    	<input type="submit" value="Guess!">
    </form>

</body>
</html>
